/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

body {
  min-height: 100vh;
  background: linear-gradient(to right, #141414, #1F1D1D) !important;
  color: white !important;
}
